@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

body {
  color: theme('colors.white');
  background-color: theme('colors.black');
}
